
input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .logo {
    display: none;
  }
  .navbar {
    grid-template-columns: 6fr 1fr;
  }

  .nav-links {
    justify-self: start;
  }
}
